*{
    box-sizing: border-box;
    margin: 0px;
    font-family: Arial
}

#container{
    height: 657px;
    width: 80%;
    border: 1px solid black;
    margin: 0 auto;
    background-color: #dcdcdc;
}
#logo{
    position: relative;
    float: left;
    margin-right: 40px;
}
#cabecalho{
    position: relative;
    padding: 20px
}
#cabecalho h1{
    font-size: 20px;
    font-family: Arial
}
#iBusca{
    height: 35px;
    width: 300px;
    border-radius: 4px;
    padding: 10px;
}
#btn_busca{
    margin: -7px;
    height: 35px;
    width: 110px;
    border-radius: 4px;
    background-color: blue;
}
#busca{
    padding-top: 2px;
    width: 25px;
    float: left;
    margin-bottom: 2px;
}
#txt_busca{
    padding-left: 30px;
    margin-top: 5px;
    font-size: 18px;
}