*{
    box-sizing: border-box;
    font-family: Arial
}

#containercab{
    height: 193px;
    width: 80%;
    /*border: 1px solid black;*/
    margin: 0px auto 0px;
}
#logo{
    position: absolute;
    float: left;
    margin-right: 40px;
}
#cabecalho{
    margin-left: 147px;
    position: absolute;
    padding: 20px;
    height: 130px;
    width: 50%;
}
#cabecalho h1{
    margin-left: 50px;
    font-size: 20px;
    font-family: Arial
}
#iBusca{
    height: 35px;
    width: 300px;
    border-radius: 4px;
    padding: 10px;
    margin-left: 50px;
}
#btn_busca{
    margin: -7px;
    height: 35px;
    width: 110px;
    
    border-radius: 4px;
    background-color: #1E90FF;
}
#busca{
    padding-top: 2px;
    width: 25px;
    float: left;
    margin-bottom: 2px;
}
#txt_busca{
    padding-left: 30px;
    margin-top: 5px;
    font-size: 18px;
}
#cabecalho2{
    padding-top: 50px;
    padding-right: 40px;
    float: right;
}
#cabecalho2 h1{
    margin-left: 85px;
    font-size: 20px;
    font-family: Arial
}
#carrinho{
    margin-top: -10px;
    margin-right: 170px;
    float: left;
}
#quantidadeCarrinho{
    margin-right: 25px;
    margin-left: -210px;
    float: right;
}
#cabecalho3{
    margin-left: 218px;
    margin-top: 150px;
    float: left;
}
#txtCM{
    float: left;
    margin-top: 4px;
}
#iCM{
    border-radius: 4px;
    height: 25px;
    width: 120px;
    margin-left: 5px;
    margin-top: 0px;
    padding: 10px
}
#txtCM2{
    margin-top: 18px;
    float: left;
}
#cabecalho4{
    margin-left: 4px;
    margin-top: 135px;
    float: left;
}
#txtPS{
    margin-top: 18px;
    margin-left: 60px;
    float: left;
}
#iPS{
    border-radius: 4px;
    height: 25px;
    width: 100px;
    margin-left: 5px;
    margin-top: 15px;
    padding: 10px
}
#txtPS2{
    margin-top: 154px;
    margin-left: 4px;
    float: left;
}
#containercorp{
    height: 450px;
    width: 80%;
    /*border: 1px solid black;*/
    margin: 0px auto 0px;
}
#containernavbar{
    margin-top: 5px;
    height: 120px;
    width: 100%;
    /*border: 1px solid black*/
}
#navbar{
    height: 50px;
    width: 100%;
    border: 1px solid black;
    background-color: #87CEFA
}
#menu1{
    height: 100%;
    width: 17%;
    border-right: 1px solid black;
    float: left
}
#menu1:hover{
    background-color: #1E90FF;
}
#menu2{
    height: 100%;
    width: 16.6%;
    border-right: 1px solid black;
    float: left
}
#menu2:hover{
    background-color: #1E90FF;
}
#menu3{
    height: 100%;
    width: 16.6%;
    border-right: 1px solid black;
    float: left
}
#menu3:hover{
    background-color: #1E90FF;
}
#menu4{
    height: 100%;
    width: 16.6%;
    border-right: 1px solid black;
    float: left
}
#menu4:hover{
    background-color: #1E90FF;
}
#menu5{
    height: 100%;
    width: 16.6%;
    border-right: 1px solid black;
    float: left
}
#menu5:hover{
    background-color: #1E90FF;
}
#menu6{
    height: 100%;
    width: 16.6%;
    float: left
}
#menu6:hover{
    background-color: #1E90FF;
}
.txtNavBar{
    text-align: center;
}
#menu3 a{
    text-decoration: none;
    color: black
}
#txtMenu1{
    height: 70px;
    width: 17%;
    border: 1px solid black;
    border-top: 0px solid black;
    float: left
}
#txtMenu2{
    height: 70px;
    width: 16.6%;
    border: 1px solid black;
    border-top: 0px solid black;
    border-left: 0px solid black;
    float: left
}
#txtMenu3{
    height: 70px;
    width: 16.6%;
    border: 1px solid black;
    border-top: 0px solid black;
    border-left: 0px solid black;
    float: left
}
#txtMenu4{
    height: 70px;
    width: 16.5%;
    border: 1px solid black;
    border-top: 0px solid black;
    border-left: 0px solid black;
    float: left
}
#txtMenu5{
    height: 70px;
    width: 16.6%;
    border: 1px solid black;
    border-top: 0px solid black;
    border-left: 0px solid black;
    float: left
}
#txtMenu6{
    height: 70px;
    width: 16.7%;
    border: 1px solid black;
    border-top: 0px solid black;
    border-left: 0px solid black;
    float: left
}
.lista1{
    margin-top: 5px;
    margin-left: -16px;
    text-align: center
}
.lista2{
    margin-top: 16px;
    margin-left: -16px;
    text-align: center
}
#containerCorp{
    margin-top: 35px;
    height: 180px;
    width: 100%;
    /* aaa*/
    /*border: 1px solid black*/
}
#frete{
    height: 100%;
    width: 320px;
    /* aaa */
    /*border: 1px solid black*/
    margin-left: 10px;
}
#carroFrete{
    margin-top: 20px;
    margin-left: 15px;
}
#frete h1{
    margin-top: -80px;
    margin-left: 115px;
    font-size: 20px;
    font-family: Arial 
}
#txtCEP{
    margin-top: -5px;
    margin-left: 116px;
}
#iCEP{
    border-radius: 4px;
    height: 25px;
    width: 115px;
    margin-left: 158px;
    float: left;
    margin-top: -37px;  
    padding: 10px
}
#sedexFrete{
    margin-top: 15px;
    margin-left: 10px;
}
#pacFrete{
    margin-top: 5px;
    margin-left: 8px;
}
#correiosFrete{
    float: right;
    margin-top: -50px;
    margin-right: 35px;
}